.medals-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  z-index: 9999;
  position: relative;

  .medal {
    cursor: pointer;
    position: relative;
    color: #f43afe;
    z-index: 9999;

    &.newbee {
      color: white;
    }

    &.beginner {
      color: yellow;
    }

    &.small {
      color: orange;
    }

    &.medium {
      color: #00ff51;
    }

    &.large {
      color: #bbbbff;
    }

    &.expert {
      color: #d9267a;
    }

    &.intermediate {
      color: rgb(108, 230, 230);
    }

    &.queen-bee {
      color: #15010b;
    }

    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
      z-index: 9999;
    }

    .tooltip {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      position: absolute;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #555;
      color: $text-white-shell;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      width: 250px;
      max-width: 200px;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 9999;

      .tooltip-text {
        z-index: 9999;

        &.amount {
          z-index: 9999;
          font-weight: 500;
        }
      }
    }

  }
}