.userpage {
  @include padding-left-right;
  position: relative;

  @include lg {
    @include padding-left-right(10rem, 10rem);
  }

  .userpage-section,
  .userpage-container,
  .userpage-username-container,
  .userpage-content-container {
    @include flex-center-start;
  }

  .userpage-container,
  .userpage-username-pic-container,
  .userpage-content-container,
  .userpage-activity-buttons-container {
    gap: 1rem;
  }

  .userpage-container,
  .userpage-username-pic-container,
  .userpage-content-container {
    width: 100%;
  }

  .userpage-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;

    .link-back {
      position: absolute;
      width: 150px;
      top: 1.5rem;
      @include heading(small, 200)
    }

    .userpage-container {
      @include lg {
        align-self: center;
        width: 720px;
      }

      .userpage-username-pic-container {
        @include flex-center-start(row, flex-start, center);
        padding-top: 2rem;

        .userpage-username-container {
          gap: 0.5rem;

          h3 {
            @include heading;
          }

          .userpage-member-number {
            @include heading(small, 200);
            font-style: italic;
          }
        }
      }

      .userpage-content-container {
        background-color: $secondary-color;
        border: 1px solid white;
        border-radius: 12px;
        padding: 1rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        min-width: 325px;

        .userpage-content-paragraph {
          font-style: italic;
        }
      }

      .userpage-content-container {
        .userpage-activity-buttons-container {
          align-self: center;
          @include flex-center;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
        }

        .userpage-activity-line {
          width: 90%;
        }
      }

      .userpage-activity-button-leaderboard,
      .userpage-information-button-edit {
        align-self: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}