.main-section {
  @include flex-center-start;
  @include padding-left-right;
  margin-top: 2rem;
  gap: 2rem;
  min-height: fit-content;
  position: relative;

  .main-section-info {
    @include flex-center-start;
    gap: 1rem;

    font-weight: 200;
    min-height: fit-content;
  }
}

.main-section-middle-wave {
  z-index: 2;
  position: relative;
}

.main-section-lupine-image {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 77rem;
}

.main-section-middle-wave {}