.infopage-middle-section {
  @include padding-left-right;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  min-height: fit-content;
  margin-top: 2rem;
  padding-top: 1rem;

  @include lg {
    @include padding-left-right(10rem, 10rem);
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }

  @include xl {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .lupin-information {
    @include flex-center-start;
    gap: 1rem;
    flex-grow: 1;
  }

  .image-container {
    max-width: 100%;
    margin-bottom: 1rem;

    .middle-section-lupine-image {
      width: 100%;
      height: auto;
      border: 1px solid white;
      border-radius: 50px;
    }
  }
}

.button-container {
  @include flex-center;
  @include padding-left-right;
  gap: 1rem;
  font-weight: 200;
  height: 150px;
  padding-bottom: 1rem;
  margin-top: 1rem;

  @include lg {
    @include padding-left-right(10rem, 10rem);
  }
}