.top-section {
  @include flex-center-start;
  @include padding-left-right;
  background-image: url('/assets/lupines-field-1280.webp');
  background-size: cover;
  height: 90svh;
  position: relative;
  gap: 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/lupines-field-1280.webp');
    background-size: cover;
    filter: blur(1px);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3d3d3d79;
    z-index: 0;
  }

  @include lg {
    @include padding-left-right(10rem, 10rem);
  }

  .top-section-heading {
    position: relative;
    z-index: 1;
    @include heading;

    @include lg {
      @include heading(4rem)
    }
  }

  .top-section-text,
  .link-back,
  .top-section-wave {
    position: relative;
    z-index: 1;
  }

  .top-section-text {
    max-width: 400px;
    font-weight: 300;

    @include lg {
      @include heading(1.2rem, 300);
      max-width: 500px;
    }
  }

  .link-back {
    position: absolute;
    // top: 1.5rem;
    // @include heading(small, 200)
  }
}

.top-section-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotateY(180deg);
}