.top-section {
  @include section-common-styles('/assets/lupines-field-1280.webp');
  gap: 2rem;

  .top-section-heading {
    position: relative;
    z-index: 1;

    @include lg {
      @include heading(4rem)
    }
  }

  .top-section-text {
    max-width: 400px;
    font-weight: 300;

    @include lg {
      @include heading(1.2rem, 300);
      max-width: 500px;
    }
  }

  .link-back {
    position: absolute;
  }
}

.top-section-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotateY(180deg);
}