.register-lupines {
  @include padding-left-right;
  padding-bottom: 2rem;
  position: relative;

  @include lg {
    @include padding-left-right(10rem, 10rem);
    @include flex-center;
  }

  .back-button {
    align-self: start;
  }

  .register-lupines-container,
  .register-lupines-container-top,
  .register-lupines-container-bottom {
    @include flex-center-start;
  }

  .register-lupines-container,
  .register-lupines-container-top,
  .register-lupines-container-bottom {
    width: 100%;
  }

  .register-lupines-container {
    margin-top: 4.5rem;
    background-color: $secondary-color;
    gap: 2rem;
    border: 1px solid white;
    border-radius: 12px;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    min-width: 325px;

    @include lg {
      @include flex-center;
      width: 720px;
    }

    .register-lupines-heading {
      @include flex-center-start(row, start, center);
      gap: 1rem;

      h2 {
        @include heading(x-large);
      }

      img {
        width: 50px;
        height: 50px;
      }
    }


    .register-lupines-container-top,
    .register-lupines-container-bottom {
      gap: 1rem;
      max-width: 700px;
    }

    .register-lupines-add-container {
      height: fit-content;
      @include flex-center-start(row, space-between, center);

      .register-lupines-icon-name {
        @include flex-center-start(row, start, center);
        gap: 1rem;
      }

      .lupins-picker-container {
        display: flex;

        .lupins-input {
          width: 50px;
          text-align: center;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 18px;
          color: $text-white-shell;
          padding: 5px;

          &:focus {
            border: none;
            outline: none;
          }
        }

        .lupins-input::-webkit-outer-spin-button,
        .lupins-input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .amount-button {
          width: 32px;
          height: 32px;
          background-color: transparent;

          &:hover {
            background-color: $hover-button-turquoise;
          }
        }

        .lupins-button-decrease {
          &:hover {
            background-color: $hover-button-red;
          }
        }
      }
    }
  }

  .register-lupines-add-container,
  .register-lupines-total-container {
    @include flex-center-start(row, space-between, start);
    @include padding-left-right;
    background-color: $tertiary-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid white;
    border-radius: 12px;
    width: 100%;
  }

  .register-lupines-total-container {
    @include flex-center-start(column, space-between, start);
    padding-bottom: 1rem;
    padding-top: 1rem;
    min-height: 220px;

    .lupines-list,
    .lupines-total {
      width: inherit;
    }

    .lupines-list {
      display: flex;
      flex-direction: column-reverse;
      gap: 0.5rem;
    }

    .lupines-total {
      margin-top: auto;
    }

    hr {
      width: 100%;
      margin-top: 1.5rem;
    }
  }

  .register-lupines-button-save {
    align-self: center;
  }
}