//font
$uniquifier: inter;
$weight: 400;

//colors
$primary-color: #483E73;
$secondary-color: #59427F;
$tertiary-color: #491D63;
$light-purple: #B4A4C0;
$button-red: #6A062A;
$hover-button-red: #550623;
$button-turquoise: #1D5263;
$hover-button-turquoise: #194554;
$text-white-shell: #FEFFF6;

//breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//button
$button-width: 220px;
$button-height: 40px;
$button-radius: 7px;