.footer {
  @include padding-left-right;

  .footer-container,
  .copyright-text {
    @include flex-center(column, start, center);
    width: 100%;
    border-top: 1px solid $text-white-shell;
    border-bottom: 1px solid $text-white-shell;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .logo-container {
    @include sm {
      align-self: start;
    }
  }

  .footer-container {
    min-height: 150px;
    padding-bottom: 2rem;
    width: 100%;

    @include lg {
      @include padding-left-right(10rem, 10rem);
    }

    .footer-page-links-container {
      @include flex-center-start;
      gap: 2rem;
      width: 100%;

      @include sm {
        flex-direction: row;
      }

      .footer-link {
        cursor: pointer;
      }

      h2 {
        @include heading(x-large, 500);
      }

      .footer-terms-policy,
      .footer-page-links {
        @include flex-center-start;
        gap: 1rem;
        width: inherit;
      }
    }
  }

  a {
    text-decoration: underline;
    font-weight: 200
  }

  .copyright-text {
    @include heading(small, 200);
    @include flex-center(row, center, center);
    flex-wrap: wrap;
    border-top: none;
    border-bottom: none;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}