.header {
  @include flex-center(row, space-between, center);
  height: 60px;
  background-color: $secondary-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: fixed;
  z-index: 99999;
  width: 100%;

  @include lg {
    @include padding-left-right(10rem, 10rem);

  }

  .logo-container,
  .user-menu-container {
    @include flex-center(row);
  }

  .logo-container {
    cursor: pointer;
  }

  .user-menu-container {
    gap: 2rem;

    .dropdown-button {
      @include flex-center;
    }
  }
}