.user-terms {
  @include padding-left-right;
  @include flex-center;
  padding-bottom: 4rem;
  padding-top: 4rem;

  @include lg {
    @include padding-left-right(10rem, 10rem);
  }

  .user-terms-container {
    background-color: $secondary-color;
    border: 1px solid white;
    @include padding-left-right;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 12px;
    @include flex-center-start;
    gap: 1rem;

    @include md {
      max-width: 800px;
      @include padding-left-right(4rem, 4rem);
    }

    .user-terms-info {
      @include flex-center-start;
      gap: 1rem;
      padding-bottom: 2rem;
    }

    .terms-container {
      @include flex-center-start;
      gap: 1rem;


      .terms-paragraph {
        @include flex-center-start;
        gap: 1rem;
        padding-bottom: 1rem;

        span {
          font-weight: 500;
        }

        .terms-ul {
          @include padding-left-right(2.5rem, 2.5rem);
          @include flex-center-start;
          gap: 0.5rem;
          font-weight: 200;

          li {
            list-style: disc;
          }
        }
      }
    }
  }
}