hmtl {
  overflow: hidden;
}

body {
  background-color: $primary-color;
  color: $text-white-shell;
  font-family: 'Inter';

  .inter-#{$uniquifier} {
    font-family: "Inter", sans-serif;
    font-weight: #{$weight};
    font-style: normal;
  }

  .main-content {
    padding-top: 60px;
    min-height: calc(100vh - 110px);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    font-weight: 200;
  }

  h2 {
    @include heading;
  }

  h3 {
    @include heading(x-large)
  }
}