body {
  background-color: $primary-color;
  color: $text-white-shell;
  font-family: 'Inter';

  .inter-#{$uniquifier} {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: #{$weight};
    font-style: normal;
  }

  p {
    font-weight: 200;
  }

  h2 {
    @include heading;
  }

  h3 {
    @include heading(x-large)
  }
}