.hero-section {
  @include flex-center-start;
  @include padding-left-right;
  background-image: url('src/assets/lupine-field-1280.webp');
  background-size: cover;
  height: 530px;
  position: relative;
  gap: 4rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3D3D3D66;
    z-index: 0;
  }

  .hero-heading {
    @include heading;
    position: relative;
    z-index: 1;

    .word-to-uppercase {
      text-transform: uppercase;
    }
  }

  .hero-text {
    font-weight: 200;
    position: relative;
    z-index: 1;
  }

  .begin-button {
    align-self: center;
  }
}