.hero-section {
  @include flex-center-start;
  @include padding-left-right;
  background-image: url('/assets/lupine-field-1280.webp');
  background-size: cover;
  height: 530px;
  position: relative;
  gap: 4rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3D3D3D66;
    z-index: 0;
  }

  .svg-wave-top {
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  .hero-heading {
    position: relative;
    z-index: 1;

    .word-to-uppercase {
      text-transform: uppercase;
    }
  }

  .hero-text {
    position: relative;
    z-index: 1;
    max-width: 260px;
  }

  .begin-button {
    align-self: center;
  }

  @include md {
    @include flex-center;
  }

  @include xl {
    @include padding-left-right(4rem, 4rem);
  }
}