.hero-section {
  @include flex-center-start;
  @include padding-left-right;
  background-image: url('/assets/lupine-field-1280.webp');
  background-size: cover;
  height: 90svh;
  position: relative;
  gap: 4rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3D3D3D66;
    z-index: 0;
  }

  .hero-texts-container {
    @include flex-center-start;
    gap: 2rem;

    .hero-heading {
      position: relative;
      z-index: 1;

      .word-to-uppercase {
        text-transform: uppercase;
      }

      @include lg {
        @include heading(4rem)
      }
    }

    .hero-text {
      position: relative;
      z-index: 1;
      max-width: 260px;
      font-weight: 300;

      @include lg {
        @include heading(1.2rem, 300);
        max-width: 300px;
      }

    }
  }

  .begin-button {
    align-self: center;
    z-index: 2;
  }

  @include md {
    @include flex-center;
    min-height: 85vh;
  }

  @include xl {
    @include padding-left-right(10rem, 10rem);
  }
}

.svg-wave-top {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}