.info-section {
  @include padding-left-right;
  @include flex-center-start;
  gap: 2rem;
  min-height: 420px;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 5;

  .info-text {
    max-width: 700px;
  }

  .readmore-button {
    align-self: center;
  }

  @include lg {
    @include padding-left-right(10rem, 10rem);

    .readmore-button {
      align-self: start;
    }
  }
}