.map-section {
  @include flex-center-start(column, start, start);
  @include padding-left-right;
  background: linear-gradient(180deg, rgb(187, 171, 199) 0%, rgba(72, 62, 115, 1) 100%);
  height: 910px;
  position: relative;
  overflow: hidden;

  .round-image-container {
    height: 10rem;
    width: 10rem;
    border: 1px solid $text-white-shell;
    border-radius: 50%;
    position: absolute;
    right: -16%;
    background-image: url('src/assets/lupine-field-640.webp');
    background-size: cover;
  }

  .background-polygon {
    margin-left: -24px;
    position: absolute;
    top: 1rem;
  }

  .leading-municipality-container {
    position: absolute;
    top: 4rem;
    @include flex-center-start;
    gap: 1rem;
  }

  .map {
    position: absolute;
    top: 10.2rem;
    right: 1rem;
    z-index: 1;
  }

  .highscore-button {
    align-self: center;
    position: absolute;
    bottom: 3rem;
  }
}